body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

.App-header {
  background-color: #3c4047;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  color: white;
}

.App-header h1 {
  margin: 0;
  font-size: 18px;
}

.App-header h3 {
  margin: 0;
  font-size: 12px;
}

.Stations {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 24px 0;
  list-style: none;
  width: 100%;
}

.Stations li {
  display: flex;
  justify-content: space-between;
  width: calc(25% - 30px);
  color: #888;
  font-size: 10px;
  margin: 3px 15px;
  transition: color 500ms linear 500ms;
}

.Stations li.isLoaded {
  color: #ddd;
}

.StationName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 105px); /* 100% minus the width+margin of the DataLoader */
}

.StationData {
  height: 100%;
  width: 100px;
  margin-left: 5px;
  position: relative;
}

.TripsCount {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: right;
  opacity: 0;
  transition: opacity 300ms linear 500ms;
}

.Stations li.isLoaded .TripsCount {
  opacity: 1;
}

.DataLoader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  opacity: 1;
  transition: opacity 300ms linear 500ms;
}

.Stations li.isLoaded .DataLoader {
  opacity: 0;
}

.DataLoader-bar {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 0%;
  transition: width 300ms ease-in-out;
}
