.Stations {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 24px 0;
  list-style: none;
  width: 100%;
}

.Stations li {
  display: flex;
  justify-content: space-between;
  width: calc(50% - 30px);
  height: 1em;
  color: #888;
  font-size: 10px;
  margin: 0 15px;
  padding: 3px 0;
  transition: color 500ms linear 500ms;
}

.Stations li.isLoaded {
  color: #ddd;
}

.Stations li.isLoaded:hover {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.StationName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 175px); /* 100% minus the width+margin of the StationData */
}

.StationData {
  display: flex;
  height: 100%;
  width: 170px;
  margin-left: 5px;
  position: relative;
}

.TripsVolume {
  height: 100%;
  width: calc(100% - 85px); /* 100% minus the width+margin of the TripsCount */
  opacity: 0;
  transition: opacity 300ms linear 500ms;
}

.Stations li.isLoaded .TripsVolume {
  opacity: 1;
}

.TripsCount {
  height: 100%;
  width: 85px;
  text-align: right;
  opacity: 0;
  transition: opacity 300ms linear 500ms;
}

.Stations li.isLoaded .TripsCount {
  opacity: 1;
}

.DataLoader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  opacity: 1;
  transition: opacity 300ms linear 500ms;
}

.Stations li.isLoaded .DataLoader {
  opacity: 0;
}

.DataLoader-bar {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 0%;
  transition: width 300ms ease-in-out;
}
